@import 'variables.scss';
@import 'mixins.scss';
@import 'animations.scss';

.button {
  display: inline-block;
  background-color: var(--front);
  color: var(--back);
  text-decoration: none;
  @include r('font-size', 16, 22);
  @include r('line-height', 44, 50);
  padding: 0 20px;
  font-weight: 600;
  transition: all 100ms $ease;

  img {
    filter: invert(100%);
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    transition: all 150ms $ease;
  }

  &:hover {
    background-color: $primary;

    img {
      transform: translateX(5px);
    }
  }
}